/* Allgemeine Einstellungen */
body {
    font-family: 'Montserrat', sans-serif;
    color: #d9e2ec; /* Hellerer Blauton für Text */
    background-color: rgba(15, 20, 40, 0.9); /* Dunkelblauer Hintergrund */
    margin: 0;
    padding: 0;
 }
 
 /* Halbtransparente Überlagerung für Lesbarkeit */
 body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 20, 40, 0.9);
    z-index: -1;
 }
 
 header {
     position: relative;
     width: 100%;
     height: 100vh;
     overflow: hidden;
 }
 
 #headerVideo {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 100%;
     height: 100%;
     object-fit: cover;
     transform: translate(-50%, -50%);
     z-index: -2;
 }
 
 .fade-overlay {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 30%;
     background: linear-gradient(to bottom, transparent, rgba(15, 20, 40, 0.9));
     z-index: -1;
 }
 
 .header-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #d9e2ec;
     text-align: center;
     z-index: 1;
 }
 
 .header-text h1 {
     font-size: 3em;
     margin: 0;
 }
 
 .header-text p {
     font-size: 1.5em;
 }
 
 .navbar {
     width: 100%;
     background-color: rgba(15, 20, 40, 0.8);
     backdrop-filter: blur(10px);
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
     border: 1px solid rgba(15, 20, 40, 0.7);
     position: sticky;
     top: 0;
     text-align: center;
     padding: 15px 0;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 10;
     transition: background-color 0.3s ease;
     visibility: hidden;
 }
 
 .navbar ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
 }
 
 .navbar li{
    margin: 0 15 px;
    position: relative;
 }
 
 .sticky-active .navbar {
     visibility: visible;
 }
 
 nav a {
     display: inline-block;
     padding: 0.5em 1em;
     background-color: rgba(15, 20, 40, 0.8);
     color: #d9e2ec;
     text-decoration: none;
     border: 1px solid #2f4e78;
     transition: background-color 0.3s, color 0.3s;
 }
 
 nav a:hover {
     background-color: #2f4e78;
     color: #d9e2ec;
 }
 
 /* Stil für das Input-Feld (Typ Datum) */
 label {
    font-size: 1.2em;
    color: #729bbd;
    display: block;
    margin-bottom: 0.5em;
 }
 
 input[type="date"] {
    font-size: 1em;
    padding: 0.5em;
    width: 100%;
    max-width: 300px;
    color: #d9e2ec;
    background-color: #1a2b4d;
 }
 
 input[type="date"]::placeholder {
    color: #729bbd;
 }
 
 input[type="date"]:focus {
    border-color: #729bbd;
 }
 
 a:hover {
    color: #d9e2ec;
 }
 
 /* Dropdown-Grundstil */
 .dropdown-content {
    display: none; /* Verstecke das Dropdown-Menü standardmäßig */
    position: absolute;
    background-color: rgba(15, 20, 40, 0.9);
    width: 100%;
    top: 100%; /* Setze das Menü direkt unter den Button */
    left: -5%;
    padding: 10px;
    border-radius: 1px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 10;
    font-size: smaller;
    justify-content: center; /* Zentriert horizontal */
    align-items: center; /* Zentriert vertikal */
    text-align: center;
 }
 
 .dropdown:hover .dropdown-content {
    display: block;
 }
 
 /* Weitere Layout-Elemente */
 main {
    display: flex;
    padding: 1em;
 }
 
 aside, article {
    padding: 1em;
    background-color: rgba(15, 20, 40, 0.8);
    border: 1px solid rgba(15, 20, 40, 0.7);
 }
 
 /* Link Style */
 a {
    color: #729bbd;
    text-decoration: none;
 }
 
 /* Bildstil */
 .collage-item img {
    object-fit: cover;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
 }
 
 .collage-item:hover img {
    max-width: 80vw;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
 }
 
 /* Slideshow */
 .slideshow-container {
     background-color: rgba(15, 20, 40, 0.9);
 }
 
 /* Punkte */
 .dot {
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
 }